<% include partials/header %>

<div class="container">
    
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To Aisuru Sushi SLO!</h1>
            <p>Sushi, sake, good times</p>
            <a href="https://www.yelp.com/biz/aisuru-sushi-san-luis-obispo-2" class="btn btn-success">Like Us On Yelp!</a>
        </div>
    </header>
    
    <!--move style later-->
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <img class="card-img-top" src="https://i.imgur.com/54NX3eT.jpg">
                <div>
                    <a href="/index/menu" class="btn btn-primary" style="margin: 7px;">View Menu</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <img class="card-img-top" src="https://i.imgur.com/XkTOEOS.jpg">
                <div>
                    <a href="/index/specials" class="btn btn-primary" style="margin: 7px;">View Specials</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <img class="card-img-top" src="https://i.imgur.com/xCk82MH.png?2">
                <div>
                    <a href="/index/events" class="btn btn-primary" style="margin: 7px;">View Events</a>
                </div>
            </div>
        </div>
        
    </div>

</div>

<% include partials/footer %> 