<% include ../partials/header %>

<form action="/change_password/<%= reset_token %>?_method=PUT" method="POST">
    <div class="container-fluid">
        <section class="container">
    		<div class="container-page">
    		    <div class="col-md-3"></div>				
    			<div class="col-md-6">
    				<h3 class="dark-grey">Change Password for <%= user.username %></h3>
    				
    				<div class="form-group col-lg-12">
    					<label>New Password</label>
    					<input type="password" class="form-control" name="password" placeholder="New Password">
    				</div>
    				
    				<div class="form-group col-lg-12">
    					<label>Confirm New Password</label>
    					<input type="password" class="form-control" name="password" placeholder="Confirm New Password">
    				</div>
    				<button type="submit" class="btn btn-primary">Submit</button>
    		</div>
    	</section>
    </div>
</form>

<% include ../partials/footer %>