<% include ../partials/header %>

<form action="/forgot" method="POST">
    <div class="container-fluid">
        <section class="container">
    		<div class="container-page">
    		    <div class="col-md-3"></div>				
    			<div class="col-md-6">
    				<h3 class="dark-grey">Forgot Username/Password?</h3>
    				
    				<div class="form-group col-lg-12">
    					<label>Email</label>
    					<input type="text" class="form-control" name="email" placeholder="email">
    				</div>
    				<button type="submit" class="btn btn-primary">Submit</button>
    		</div>
    	</section>
    </div>
</form>


<% include ../partials/footer %>